html{margin: 0px;}
.main{ margin: -1px;width: 100%}
.navbar{background-color:rgba(23,23,23, 0.8);;; justify-content: space-between; height: 86px;}
.navbar a  { color:white; margin-left: 50px; margin-bottom: 10px ;text-align: center; text-justify: auto; font-family: monospace;font-size: 24px;}
.namex{margin-left: 20px}
.table1{margin-left: -40px}
.table4 td{padding: 0px}
input{ border-color: dodgerblue;}
.template{padding-bottom: 8px}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 10; }
}
.table4 {}
@keyframes a2 {
    from { color: orange;}
    to { color:white; }
}
@keyframes a3 {
    from { margin-left: 5px; }
    to {margin-left: 350px }
}
@keyframes a32 {
    from { margin-top: 495px; }
    to {margin-top: 00px }
}
.about{ ;animation-name: a32; animation-duration: 13s}

.input{}
.main{background-image: url(galaxy-night-panorama.jpg); height: 1233px;width: 100%; background-repeat: no-repeat; background-size: cover; background-position: center; }
.navbar img{margin-left: 90px; }
table{ padding: 100px; justify-content: space-between; align-items: center; margin: auto; }
.template{background-color: rgba(2000,2000,2000,0.8); border-radius: 10px;width: 230px;height: 230; animation-name: fadeIn; animation-duration: 7s; margin-left: 2px;margin-right: 2px; margin-bottom: 10px; font-size: 20px; }
.template h3{margin: 35px;}
.template img{margin-left: 45px; width: 40%}

.logo{animation-name: a2; animation-duration: 3s}
	.trend{animation-name:a3; animation-duration: 3s;margin-left: 300px;margin-bottom: 0px  }
input{animation-name:fadeIn; animation-duration: 1s; margin-left:0px;  }
.template button{border-radius: 8px; background-color: deepskyblue; margin-left: 50px;padding: 12px; color: white; font-size: 12px; width: 50%;}
.t1 img{width: 74px ; }

.d{background-color:  rgba(2000,2000,2000,0.8); margin-left: 59px; height: 250px; width: 150px; margin-top: 0px; border-radius: 6px;padding: 10px}
.d hr{width: 150px;height: 2px ; background-color: gold}
.d h1{margin-left: 50px; color: goldenrod;}
.d button{padding: 10px;border-radius: 6px; background-color: transparent; margin-left: 40px}


.u{margin-left: 10px;  width:100px;height:100px; border-radius: 100px;  background-position: center; background-size: cover;}
.u1{background-image: url(space.jpg);}
.u3{background-image: url(IMG-20240722-WA0036.jpg);}
.u2{background-image: url('images%20(6).jpeg');}

.table2 button{background-color: transparent; border:2px  solid white;color:blueviolet; padding: 12px; border-radius: 8px; border-right-color: blueviolet; border-top-color: blueviolet; border-bottom-color: snow; border-left-color: snow;}
.table2 {table-layout: fixed;}
.img5{height: 70px; width: 70px; border-radius:70px;   background-position: center; background-size: cover; }
.m1m{background-image: url(test1.png);}
.m2m{background-image: url(test2.gif);}
.m3m{background-image: url(testf.jpeg);}
.m4m{background-image: url(test3.png);}
.com{background-color: white; height: 220px; width: 230px;border-radius: 8px; margin: 5px; margin-bottom: 80px; padding: 5px;}
.p5{margin-left: 10px}
.table4 td{margin-left: 20px}
.price{margin-left:40%; font-family: monospace; font-size: 230%}
.btn{background-color: deepskyblue;padding: 12px;border-radius:  5px; margin-left: 58px; color: white;border-color: transparent;width: 60%}